[submodule "newdivide2014.github.io"]
	path = newdivide2014.github.io
	url = https://github.com/newdivide2014/newdivide2014.github.io.git
[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
