[submodule "themes/persian-hugo"]
	path = themes/persian-hugo
	url = https://github.com/gethugothemes/persian-hugo.git
[submodule "newdivide2014.github.io"]
	path = newdivide2014.github.io
	url = https://github.com/newdivide2014/newdivide2014.github.io.git
